<div class="ebr-chat-result" data-is-success="{{isSuccess}}" data-ability-key="{{abilityKey}}">

    <div class="ebr-intro"><label>{{localize 'EB.Chat.RollOn'}} </label><b>{{abilityName}} </b><i>1D20</i></div>
    <div class="ebr-char-val"><label>{{localize 'EB.Chat.CharacterStat'}}  </label><b>{{abilityValue}}</b></div>
    <div class="ebr-result-val"><label>{{localize 'EB.Chat.RollResult'}} </label><b>{{rolledValue}}</b></div>
    <div class="ebr-result"><b>{{#if isSuccess}}{{localize 'EB.Chat.Success'}}{{else}}{{localize 'EB.Chat.Failure'}}{{/if}}</b></div>

</div>