<div class="ebr-chat-result luckResult" data-success-level="{{successLevel}}">
    <div class="ebr-intro"><label>{{localize 'EB.Chat.RollOn'}} </label><b>{{abilityName}} </b><i>1D6</i></div>
    <div class="ebr-result-val"><label>{{localize 'EB.Chat.RollResult'}} </label><b>{{rolledValue}}</b></div>
    <div class="ebr-result"><b>{{resultMessage}}</b></div>
</div>