<div class="ebr-chat-result damage-result">
    <div class="ebr-intro"><label>{{localize 'EB.Chat.RollOn'}} </label><b>{{abilityName}} </b><i>{{roll}}{{#if isDeprived}} ({{localize 'EB.Sheet.Deprived'}}){{/if}}</i></div>
    <div class="ebr-weapon"><label>{{localize 'EB.Chat.Weapon'}} </label><b>{{weapon}}</b></div>
    <div class="ebr-result-val"><label>{{localize 'EB.Chat.RollResult'}} </label><b>{{rolledValue}}</b></div>
</div>